* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #efe9aa;
}

.btn {
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  transition: all 0.05s;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* NAVIGATION */
.navbar {
  margin: 2rem;

  /* display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 2rem;
}

.navbar form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.search-input {
  width: 100%;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 12px;

  outline: none;
}

.btn--search {
  position: absolute;
  top: 0;
  right: -5%;

  background: #edcd62;
}

.btn--search:hover {
  transform: scale(1.2);
}

.bookmarks__btn {
  background: #f2d679;
}

.bookmarks__btn.active {
  background: #edcd62;
}

/* DASHBOARD */
.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.characters {
  padding: 0 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
}

.character {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.character:hover {
  cursor: pointer;
  border-radius: 12px;

  background-color: #f0df7e;
}

.character__img {
  width: 7.5rem;
  height: 7.5rem;
}

.character__img img {
  border-radius: 50%;
  height: 100%;
}

/* CHARACTER MODAL */

.modal {
  display: flex;
  justify-content: space-between;
}

.detail {
  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 2rem;

  font-size: 1.2rem;
}

.detail__img {
  width: 20rem;
}

.detail__name {
  font-size: 1.8rem;
  font-weight: 700;
}

.detail__btn {
  font-size: 2rem;

  margin: 2rem 0;
  background-color: #f2d679;
}

.detail__btn:hover {
  background: #edcd62;
}

.modal__episodes {
  width: 50%;
  height: 50rem;

  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}

.episode__name {
  font-size: 1.6rem;
}

/* PAGINATION */

.pagination {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  font-size: 1.4rem;
}

.pagination__btn {
  background-color: #f2d679;
}

.pagination__btn:hover {
  transform: scale(1.4);
}

/* BOOKMARK */
.bookmarks {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1%;

  background-color: #f2d679;
  border: 1px solid #e1b31c;
  border-radius: 12px;
}

.bookmarks .character__img {
  width: 5rem;
  height: 5rem;
}

.bookmarks .character__name {
  font-size: 1.2rem;
}

/* LOADING SPINNER */

.lds-dual-ring {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
