@media (max-width: 830px) {
  html {
    font-size: 50%;
  }

  .characters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 42.5%;
  }

  /* .search-input {
    width: 100%;
  } */

  .characters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 35%;
  }

  .characters {
    grid-template-columns: 1fr 1fr;
  }
}
