* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #efe9aa;
}

.btn {
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  transition: all 0.05s;
}

/* NAVIGATION */
.navbar {
  margin: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 12px;

  outline: none;
}

.btn--search {
  position: relative;
  right: 10%;

  background: #edcd62;
}

.btn--search:hover {
  transform: scale(1.2);
}

/* DASHBOARD */
.dashboard {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.characters {
  margin: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
}

.character {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.character:hover {
  cursor: pointer;

  background-color: #f0df7e;
}

.character__img {
  width: 7.5rem;
  height: 7.5rem;
}

.character__img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* CHARACTER MODAL */

.character__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: red;

  width: 80rem;
  height: 40rem;
}

/* PAGINATION */

.pagination {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* BOOKMARK */
.bookmarks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  right: 1%;
}

.bookmarks .character__img {
  width: 5rem;
  height: 5rem;
}

.bookmarks .character__name {
  font-size: 1.2rem;
}

/* LOADING SPINNER */

.lds-dual-ring {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
